/* .blog__wrapper{
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}
.blog__block{
    background-color: #0284D0;
    @media (min-width: 768px) {
        width: 50%;
    }
}
.blog__photo{
    @media (min-width: 768px) {
        width: 50%;
    }
} */