.contact__wrapp{ 
    display: flex;
    flex-direction: column;
} 
.contact__info-wrapper{ 
    background: #F4F4F4; 
} 
@media (min-width: 768px) { 
    .contact__wrapp{ 
        display: flex; 
        flex-direction: row;
    } 
    .contact__photo{
        width: 50%;
    }
    .contact__info-wrapper{
        width: 50%;
    }
}