.footer{ 
    max-width: 1360px; 
    margin: 0 auto; 
    background-color: #333333; 
    padding-top: 20px; 
    padding-bottom: 20px; 
} 
.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__links{ 
    display: flex;
    justify-content: space-between; 
    width: 216px;
    margin-bottom: 12px;
} 
.footer__link{
    cursor: pointer;
}
.footer__text{ 
    color: #ffffff;  
    font-size: 16px;
    line-height: 22px;
}
.footer__icon{
    transition: all 250ms ease-in 0s;
    fill: #ffffff;
}
.footer__icon:hover,
.footer__icon:focus{
    fill: #28A745;
}
@media (min-width: 768px) {
    .footer__links{ 
        margin-bottom: 10px;
    } 
    .footer__text{ 
        font-size: 18px;
        line-height: 25px;
    }
}