header { 
    position: absolute; 
    max-width: 1360px; 
    margin: 0 auto; 
    left: 0; 
    right: 0; 
    background-color: transparent; 
    transition: background-color 0.3s ease-in-out; 
    z-index: 1;
  } 
header.fixed { 
    position: fixed; 
    height: 120px;  
    background-color: rgba(0, 0, 0, 0.8); 
} 
.header__wrapper{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 22px;
} 
.header__logo-link{ 
    display: flex; 
    align-items: center; 
    transition: all 250ms ease-in 0s;
} 
.header__logo-link:hover,
.header__logo-link:focus{
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(1.2);
}
.header__logo-name{ 
    font-size: 35px; 
    line-height: 48px; 
    color: #28A745; 
} 
.header__logo-white{ 
    color: #ffffff; 
} 
.header__items{ 
    display: flex; 
} 
.header__item{ 
    margin-left: 6px;   
    margin-right: 6px;
} 
.header__item-link{ 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 22px; 
    color: #FFFFFF; 
    cursor: pointer; 
} 
 
@media screen and (min-width: 768px) { 
    .header__item-link {
        font-size: 18px;
        line-height: 25px;
    }
    header.fixed { 
        height: 70px;   
    }
    .header__wrapper{ 
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between; 
        padding: 32px 16px 0px;
    } 
    .header__logo-name{  
        line-height: 0px;  
    }
    .header__item {
        margin-left: 20px;
        margin-right: 0px;
    }
}
@media screen and (min-width: 1360px) { 
    .header__item {
        margin-left: 40px;
        margin-right: 0px;
    }
    .header__wrapper{ 
        padding: 28px 32px 0px;
    } 
}