header { 
    position: absolute; 
    max-width: 1360px; 
    margin: 0 auto; 
    left: 0; 
    right: 0; 
    height: 120px; 
    background-color: transparent; 
    transition: background-color 0.3s ease-in-out; 
  } 
header.fixed { 
    position: fixed; 
    height: 70px;  
    background-color: rgba(0, 0, 0, 0.8); 
} 
.header__wrapper{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 32px 28px; 
} 
.header__logo{ 
    display: flex; 
    align-items: center; 
} 
.header__logo-name{ 
    font-size: 35px; 
    line-height: 48px; 
    color: #28A745; 
} 
.header__logo-white{ 
    color: #ffffff; 
} 
.header__items{ 
    display: flex; 
} 
.header__item{ 
    margin-left: 40px;    
} 
.header__item-link{ 
    font-weight: 400; 
    font-size: 18px; 
    line-height: 25px; 
    color: #FFFFFF; 
    cursor: pointer; 
} 
 
@media screen and (min-width: 768px) { 
    .header__wrapper{ 
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between; 
    } 
}