header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    padding: 20px 28px;
  }
header.fixed {
    position: fixed;
    height: 45px; 
    background-color: rgba(0, 0, 0, 0.8);
}
.header__wrapper{
    margin-right: auto;
    margin-left: auto;
    max-width: 1360px;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo-name{
    font-size: 35px;
    line-height: 48px;
    color: #28A745;
}
.header__logo-white{
    color: #ffffff;
}
.header__items{
    display: flex;
}
.header__item{
    margin-left: 40px;   
}
.header__item-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

@media (min-width: 768px) {
    .header__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}